.list {
  padding: 20px;
}

.item {
  max-width: 320px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.itemText {
  font-size: 18px;
  color: black;
  font-weight: 500;
}

.itemButton {
  border: 1px solid black;
  outline: none;
  cursor: pointer;
  display: block;
  border-radius: 5px;
  color: black;
  padding: 4px 15px;
}